@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  max-width: 650px;
  margin: auto;
}

.piece-container {
  margin-top: 2rem;
  padding: 1em;
  column-count: 3;
  column-gap: 1em;
}

@media screen and (max-width: 768px) {
  .piece-container {
    column-count: 2;
  }
}
